<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Console name="LogToConsole_Simple" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-8level] %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.deployrr" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToConsole_Simple"/>
        </Logger>
        <Logger name="net.schmizz.sshj" level="WARN" additivity="false">
            <AppenderRef ref="LogToConsole_Simple"/>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="LogToConsole_Simple"/>
        </Root>
    </Loggers>
</Configuration>