name: Deployrr
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  IMAGE_NAME: ${{ secrets.DOCKER_USER }}/deployrr-docs:latest
  SSH_DIR: /home/runner/.ssh

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Repository checkout
      uses: actions/checkout@v4
    - name: Docker login
      uses: docker/login-action@v3
      with:
        registry: docker.io
        username: ${{ secrets.DOCKER_LOGIN }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Docs docker build
      run: docker build -t $IMAGE_NAME docs
    - name: Docs docker push
      run: docker push $IMAGE_NAME
    - name: Preprare Deployrr
      run: |
        mkdir -p $SSH_DIR
        echo "${{ secrets.SRV_PRIVATE_KEY }}" | tr -d '\r' > $SSH_DIR/id
        echo "${{ secrets.SRV_PUBLIC_KEY }}" | tr -d '\r' > $SSH_DIR/id_pub
        chmod 600 $SSH_DIR/id
        chmod 600 $SSH_DIR/id_pub
        echo -e "Host $SRV_HOST\n\tStrictHostKeyChecking no\n" >> $SSH_DIR/config
    - name: Debug
      run: |
        pwd ls -la
    - name: Run Deployrr
      env:
        SRV_HOST: ${{ secrets.SRV_HOST }}
        SRV_USER: ${{ secrets.SRV_USER }}
        PRIVATE_KEY: /home/runner/.ssh/id
      run: bash <(curl -s http://134.199.188.73/Deployrr.sh) deployrr.yaml
